@media only screen and (min-width: 1025px) {
    .hamburger {
        display: none;
    }

    .head {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        padding-right: 2rem;
    }

    .navigation {
        display: block !important;
    }

    .navigation ul {
        display: flex;
    }



    footer {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: space-evenly;
        width: 100%;
        margin: 1rem auto;
        padding-left: 1rem;
    }

  .home-sect {
      display: grid;
      grid-template-columns: 1fr 0.5fr 0.5fr;
      gap: 10px;
  }
  .spotlight{
    flex-direction: row;
    grid-column: 1/4;
    gap: 10px;
    margin: 15px auto;
    justify-content: space-evenly;
  }
 .join-page main {

     display: grid;
     grid-template-columns: 1fr 1fr;
     gap: 1rem;
 }
 .join-page h1{
    grid-column:1/3;
 }
 #discover-container {
     display: grid;
     grid-template-columns: 1fr 1fr;
     gap: 0.5rem;
 }

 #discover-container section {
     display: grid;
     grid-template-areas:
         "name name"
         "photo  description"
         "photo description"
        "photo address"
         "site   site";
     gap: 0.5rem;
 }

 #discover-container section h2 {
     grid-area: name;
 }

 #discover-container section img {
     grid-area: photo;
     width: 300px;
 }

 #discover-container section p:nth-of-type(1) {
     grid-area: address;
 }

 #discover-container section p:nth-of-type(2) {
     grid-area: description;
 }

 #discover-container section button {
     grid-area: site;
     margin: 0 auto;
    width: 100%;
    margin: 0 auto;
    background-color: #e7e2c1;
    border: 2px;
    border-radius: 5px;
 }
 #discover-container section button:hover {
     background-color: rgb(185, 183, 169);
 }

 #discover-container section img:hover {
     box-shadow: 0 0 20px #1a1515;
 }
}