@media only screen and (min-width: 1025px) {
    .hamburger {
        display: none;
    }

    .head {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        padding-right: 2rem;
    }

    .navigation {
        display: block !important;
    }

    .navigation ul {
        display: flex;
    }



    footer {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: space-evenly;
        width: 100%;
        margin: 1rem auto;
        padding-left: 1rem;
    }


 
}