@media (min-width: 641px) and (max-width: 1024px){
    #discover-container{
        padding: 20px 5px;
            display: flex;
            flex-direction: column;
            gap: 15px;
    }
    #discover-container section{
        display:grid;
        grid-template-areas:
        "name name"
        "photo address"
        "photo  description"
        "photo  site";
        gap: 0.5rem;
    }
    #discover-container section h2 {
        grid-area:name;
    }
      #discover-container section img {
        grid-area: photo;
        width: 300px;
        display: block;
        margin: 10px;
      }
      #discover-container section p:nth-of-type(1) {
        grid-area: address;
      }
      #discover-container section p:nth-of-type(2) {
        grid-area: description;
      }
    #discover-container section button {
        grid-area: site;
        width: 10rem;
        margin : 0 auto;
        
    }
   #discover-container section img:hover {
    box-shadow: 0 0 20px #eca5a5 ;
   }
}