@media only screen and (min-width: 630px) {
    .hamburger {
        display: none;
    }

    .navigation {
    display: block;
}

   .navigation ul {
       display: flex;
       gap: 2rem;
       list-style: none;
       margin: 0;
       padding: 0;
   }
   .headstart{
        display: flex;
        gap: 100px;
        padding:0  5px 10px;
        justify-content: space-between;
   }

   .navigation a {
       text-decoration: none;
       border-bottom: none;
   }
    
    .hero-text {
        position: static;
        margin-top: 1rem;
        background: rgba(255, 255, 255, 0.9);
    }

    .hero-container {
        padding: 0 1rem;
    }
    
}